@using AsianRest.Models
@{
    ViewBag.Title = "Menu";
    AsianRestEntities db = new AsianRestEntities();
    var menus = db.MainMenus.ToList();
    var cocktail = db.CocktailCards.ToList();
}



<!-- section Menu starts -->
<section class="menu">
    <div class="container">
        <div class="row" style="margin-top:100px">
            <div class="col-12 text-center">
                <h5 style="font-family: 'Dancing Script', cursive; font-size:1.5em ; color: #8b755a;">Always Delicious</h5>
            </div>
            <div class="col-12 text-center">
                <h1 style="font-weight: 700;    position: relative; color: #232323; font-size: 42px; font-weight: 700; line-height: 1.2em; padding-bottom: 35px; letter-spacing: 1px; text-transform: uppercase;">MAIN MENU</h1>
            </div>
            <div class="container">
                <div class="row mt-5">
                    @foreach (var item in menus)
                    {
                        <div class="col-lg-4 col-md-12">
                            <div class="col-12 mt-5">
                                <h5 class="d-inline">
                                    <a href="/home/shopsingle/@item.ID"> @item.MealName </a>
                                </h5>
                                <h5 class="d-inline float-right"> @item.Price</h5>
                                <h6 style="    position: relative;color: #616060;font-size: 15px;font-family: 'Open Sans', sans-serif; margin-top:15px">@item.Info</h6>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>


    </div>
</section>

<!-- section Menu ends -->
<!-- COCKTAIL CARD STARTS -->

<section class="COCKTAIL-CARD">
    <div class="layout">
        <div class="container">
            <div class="row text-center mt-5">
                <div class="col-12 text-center mt-5">

                    <h5 style="font-family: 'Dancing Script', cursive; font-size:1.5em ; color: #8b755a;">Exceptional</h5>
                </div>
                <div class="col-12">
                    <h1 style="color:white;    font-size: 42px;font-weight: 700;line-height: 1.2em;padding-bottom: 35px;letter-spacing: 2px;text-transform: uppercase;">COCKTAIL CARD</h1>
                </div>

            </div>
            <div class="row mb-5">
                <div class="container">
                    <div class="row mt-5">
                        @foreach (var item in cocktail)
                        {
                            <div class="col-lg-4 col-md-12">
                                <div class="col-12 mt-5">
                                    <h5 class="d-inline">
                                        <a href="">@item.MealName</a>
                                    </h5>
                                    <h5 class="d-inline float-right"> @item.Price</h5>
                                    <h6 style="    position: relative;font-size: 15px;font-family: 'Open Sans', sans-serif; margin-top:15px">@item.Info</h6>
                                </div>
                            </div>
                        }



                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- COCKTAIL CARD ENDS -->
<!-- THE TEAM STARTS -->
<section class="todays-special" style="margin-top:100px;">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h5 style="font-family: 'Dancing Script', cursive; font-size:25px ; color: #8b755a;">
                    Magical Experience
                </h5>

            </div>
            <div class="col-12">
                <h1 class="" style="color: #232323;font-size: 42px;font-weight: 700;line-height: 1.2em;padding-bottom: 35px;letter-spacing: 1px;text-transform: uppercase;">
                    THE TEAM
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="col-12">
                    <img src="http://monde.elitelayers.com/html/images/resource/special-1.jpg" alt="">
                </div>
                <div class="col-12 mt-5">
                    <h5 class="d-inline">
                        <a href=""> Cromesouis </a>
                    </h5>
                    <h5 class="d-inline float-right"> $25</h5>
                    <a href="">
                        <h6 class="mb-5" style="    position: relative;color: #616060;font-size: 15px;font-family: 'Open Sans', sans-serif; margin-top:15px">
                            smoked haddock fishcake with tartare sauce
                        </h6>
                    </a>


                </div>

            </div>
            <div class="col-lg-4">
                <div class="col-12">
                    <img src="http://monde.elitelayers.com/html/images/resource/special-2.jpg" alt="">
                </div>
                <div class="col-12 mt-5">
                    <h5 class="d-inline">
                        <a href=""> Camembert </a>
                    </h5>
                    <h5 class="d-inline float-right"> $25</h5>
                    <a href="">
                        <h6 class="mb-5" style="    position: relative;color: #616060;font-size: 15px;font-family: 'Open Sans', sans-serif; margin-top:15px">
                            Camembert with cranberry & redcurrant sauce
                        </h6>
                    </a>


                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-12">
                    <img src="http://monde.elitelayers.com/html/images/resource/special-3.jpg" alt="">
                </div>
                <div class="col-12 mt-5">
                    <h5 class="d-inline">
                        <a href=""> Soupe Au Pistou </a>
                    </h5>
                    <h5 class="d-inline float-right"> $25</h5>
                    <a href="">
                        <h6 class="mb-5" style="    position: relative;color: #616060;font-size: 15px;font-family: 'Open Sans', sans-serif; margin-top:15px">
                            seasonal vegetable soup with pesto on the side
                        </h6>
                    </a>


                </div>
            </div>
        </div>
    </div>
</section>




<!-- THE TEAM ENDS -->